modules = ["bash", "nix"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run main"

[[workflows.workflow]]
name = "Run main"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gcc -g main.c treemap.c -Wall -o main && ./main"

[workflows.workflow.metadata]
outputType = "console"
